
.main{
  width: 100%;
}

nav{          /*upper black bar*/
  width: 100%;
  background-color: black;
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(Luxury.jpg);
  background-size: cover;
  background-position: center;
}

header {
  background-color:wheat;
  color: black;
  padding: 20px;
  text-align: center;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0%;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.content{
  width: 100%
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}
.content h1{
  font-size: 70px;
  margin-top: 80px;
}
.content p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}



.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo a{                        /*Foodie logo*/
  font-size: 39px;
  font-weight: bold;
  margin-left: 100px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  flex-basis: 48%;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
  
  input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #444;
  }

  .end{
    background-color: #333;
    color: #fff;
    padding: 36px 0;
    text-align: center;
  }